* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 900px;
  margin: 0 auto;
}

.app {
  position: relative;
}

.title-app {
  text-align: center;
}

.form-filter {
  margin: 0 auto;
  width: 800px;
}

.total-playlists {
  display: block;
  width: 100%;
  float: left;
  clear: both;

  text-align: center;
}

@media (max-width: 910px) {
  #root, .form-filter {
    width: 100%;
  }
}