.spotify-auth {
  width: 100%;
  padding: 25px;
}

.spotify-auth__button {
  display: block;
  padding: 14px 30px;
  margin: 0 auto;

  color: #fff;
  background-image: url('../../images/spotify_button.png');
  background-repeat: no-repeat;
  background-position: 7px 8px;
  background-size: 86px;
  background-color: #1DB954;

  text-indent: -9000px;
  text-align: center;

  border: 1px solid #1DB954;
  border-radius: 4px;

  cursor: pointer;
}