.message {
  position: absolute;
  padding: 10px 25px;
  bottom: 0px;

  width: 100%;
  z-index: 50;
  
  border: 1px solid transparent;
  border-radius: 4px;

  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}